.imgRotateOverlay {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	opacity: 0.4;
	width: 100%;
	height: 100%;
	display: none;
}

.center-image-wrapper {
	position :absolute;
}
.centerImage {
	position: absolute;
	margin: 0;
    /* left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0);
    display: none; */
}

.indicator {
	position: absolute;
	font-size: 30px;
	cursor: pointer;
	z-index: 999;
}

.indicator-remove {
	right : 10px;
	top: 10px;
}

.indicator-left {
	top:50%;
	left : 10px;
}

.indicator-right {
	top:50%;
	right:10px;
	
}